@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baumans&display=swap');

* {
    font-family: 'Tenor Sans', 'Philosopher', 'Baumans';
    margin: 0;
    padding: 0;
}

.font-header-greeting {
    font-size: 4vmax;
    z-index: 1;
    position: relative;
}

.font-header-greeting::before {
    content: "";
    position: absolute;
    top: 0.5em;
    left: 0;
    height: 1em;
    width: 100%;
    z-index: -1;
    padding: 0;
    background: linear-gradient(-30deg, #935473, #decdc3);
}

.font-header-name {
    font-size: 10vmax;
    position: relative;
    z-index: 1;
}

.font-top-nav {
    padding: 5px;
    color: #ffffff;
    font-size: 3vmax;
}

.font-top-nav:hover {
    font-size: 3vmax;
    padding: 30px;
    color: #ea5455;
}

.font-smallest {
    font-size: 1em;
}

.font-smaller {
    font-size: 1.2em;
}

.font-small {
    font-size: 1.5em;
}

.font-medium {
    font-size: 1.8em;
    font-weight: bold;
}

.font-large {
    font-size: 2em;
    font-weight: bold;
}

.font-larger {
    font-size: 2.3em;
    text-align: center;
}

.font-largest {
    font-size: 3em;
}

.font-1 {
    font-family: 'Baumans', cursive; 
}

.font-2 {
    font-weight: bolder;
    font-family: 'Philosopher', sans-serif;
}

.font-3 {
    font-family: 'Tenor Sans', sans-serif;
}

.card-title {
    color: #000000;
    font-size: 1.5em;
    font-weight: bolder;
    font-family: 'Philosopher', sans-serif;
}

.about .card-title {
    color: #000000;
    font-size: 3vw;
    font-weight: bolder;
    font-family: 'Philosopher', sans-serif;
}

.card-text {
    font-family: 'Tenor Sans', sans-serif;
    font-size: 1em;
}


@media screen and (min-width: 360px) and (max-width: 500px) and (orientation: portrait) {
    .about .card-title {
        color: #000000;
        font-size: 8vw;
        font-weight: bolder;
        font-family: 'Philosopher', sans-serif;
    }
}