.grid-container {
    display: grid;
    gap: 0 0;
    grid-template-columns: repeat(6, 15%);
    grid-template-rows: 200px 200px;
    justify-items: stretch;
    align-items: stretch;
    justify-content: center;
    grid-template-areas: 
    "11 12 13 14 15 16" 
    "21 22 23 24 25 26";
}

.one {
    display: block;
    height: 100%;
    grid-area: "12";
    background-image: url('../images/grid/one.png');
}

.two {
    grid-area: "14";
    background-image: url('../images/grid/two.png');
}

.three {
    grid-area: "16";
    background-image: url('../images/grid/three.png');
}

.four {
    grid-area: "21";
    background-image: url('../images/grid/four.png');
}

.five {
    grid-area: "23";
    background-image: url('../images/grid/five.png');
}

.six {
    grid-area: "25";
    background-image: url('../images/grid/six.png');
}

.brown {
    grid-area: 11 26;
    background-color: #decdc3;
}

.red {
    grid-area: 13 24;
    background-color: #ea5455;
}

.blue {
    grid-area: 15 22;
    background-color: #2d4050;
}

/* .grid-img {
    background-size: cover;
    background-color: #ffffff;
    background-blend-mode: multiply;
    background-position: center;
} */

.grid-img {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
}

.grid-img h5 {
    text-align: center;
    color: #ffffff;
    transform: rotate(-90deg);
    font-size: 2vmax;
}