form {
    position: relative;
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
    padding: 20px;
    box-shadow: 0 0 25px 0 #decdc3; 
}

input, textarea {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input {
    width: 100%;
    padding: 20px;
}

textarea {
    width: 100%;
    padding: 20px;
}

.item input:hover, .item textarea:hover {
    border: 2px solid transparent;
    box-shadow: 0 0 6px 0 #decdc3;
}

.item {
    justify-content: center;
    position: relative;
}