.sep-header {
    position: relative;
    height: 1.5em;
    width: 100%;
    padding: 0;
    background: #ea5455;
}

.sep-header::after {
    position: absolute;
    content: "";
    top: 1.5em;
    height: 1.5em;
    width: 100%;
    padding: 0;
    background-color: #decdc3;
}

.sep-footer {
    height: 1.5em;
    width: 100%;
    padding: 0;
    background-color: #decdc3;
    align-items: center;
}

.sep-main {
    margin: 80px 20% 80px 20%;
    position: relative;
    height: 1em;
    width: 60%;
    padding: 0;
    background: #2d4050;
}

.sep-main::after {
    position: absolute;
    content: "";
    height: 50%;
    width: 100%;
    padding: 0;
    background-color: #ea5455;
}