* {
    /* Firefox */
    scrollbar-color: #ea5455 #e5e5e5;
}
  
  /* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
  *::-webkit-scrollbar-track:horizontal {
    background: #e5e5e5;
  }
  *::-webkit-scrollbar-thumb:horizontal {
    background-color: #ea5455;
    border-radius: 5px;
  }
  *::-webkit-scrollbar-track:vertical {
    background: #2d4050;
  }
  *::-webkit-scrollbar-thumb:vertical {
    background-color: #e5e5e5;
    /* border-radius: 5px; */
  }

body {
    background-color: #2d4050;
    padding: 0px 40px 0px 15px;
    position: relative;
}

header {
    display: flex;
    padding: 0 80px 0 80px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    background-image: url('../images/header-wide.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
}

section {
    background-color: #ffffff;
    padding-top: 5%;
    padding-bottom: 5%;
}

main {
    padding-left: 15px;
    padding-right: 15px;
    justify-content: center;
}

footer {
    display: flex;
    height: 15em;
    padding: 0 40px 0 40px;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    background-image: url('../images/footer.jpg');
    background-size: cover;
}

.heading {
    display: block;
    margin: 10px 0 5px 0;
    text-align: center;
}

.top-nav {
    padding-top: 20px;
    display: block;
    align-self: center;
    align-items: center;
}

.top-nav a:hover {
    background-color: #decdc3;
}

.div {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 0 10px 0;
    align-items: center;
    justify-content: center;
}

.div-description {
    background-color: #decdc3;
}

.block {
    display: flex;
    width: 100%;
    padding: 0 10% 0 10%;
    margin-bottom: 5%;
    align-items: stretch;
    flex: 1;
}

.about {
    justify-content: center;
}

.desc {
    justify-content: center;
    padding: 0 25% 0 25%;
}

.edu {
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.exp {
    padding: 0 22% 0 22%;
    flex-direction: column;
    justify-content: start;
}

.skill {
    flex-direction: column;
    justify-content: center;
    padding: 0 25% 0 25%;

}

.subblock-edu {
    width: 100%;
    height: fit-content;
    margin: 10px;
    padding: 10px 0 10px 0;
    border: 2px solid #ea5455;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-item {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 3em;
    padding: 5px;
}

.footer-img {
    height: 2em;
    width: 3em;
}

.no-gutter > [class*='col'] {
    padding-right:0;
    padding-left:0;
    margin: 0;
}

@media screen and (min-width: 500px) {
    nav {
        position: fixed;
        top: 20%;
        right: 0;
    }
    
    .h {
        display: none;
    }
    
    .nav-block {
        width: min-content;
    }

    .nav-block a {
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 80%;
    }
}

@media screen and (min-width: 360px) and (max-width:500px) and (orientation: portrait) {
    *::-webkit-scrollbar-track:horizontal {
        background: #e5e5e5;
    }
    *::-webkit-scrollbar-thumb:horizontal {
        background-color: #ea5455;
        border-radius: 5px;
    }

    .block {
        display: flex;
        width: 100%;
        padding: 0 5% 0 5%;
        align-items: center;
        flex: 1;
    }
  
    nav {
        position: sticky;
        left: 0;
        bottom: 0;
        flex-direction: row;
        width: 100%;
        height: max-content;
        overflow-x: auto;
        z-index: 10;
    }
    
    .v {
        display: none;
    }
    
    .nav-block {
        position: relative;
        display: flex;
        align-self: stretch;
    }
    
    .nav-block a {
        font-size: 3vw;
        align-items: center;
    }

    .block {
        display: flex;
        width: 100%;
        padding: 0 10% 0 10%;
        margin-bottom: 5%;
        align-items: stretch;
        flex: 1;
    }
    
    .exp {
        padding: 0 22% 0 22%;
        flex-direction: column;
        justify-content: start;
    }
}